@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
:root {
  --primary-color: #38877A;
  --dark-primary-color: #25695e;
  --secondary-color: #AA214B;
  --white-color: #F7FAFF;
  --grey-color: #959598;
  --grey-text-color: #6f6f74;
  --dark-bg-color: #1F222A;
  --dark-text-color: #1F222A;
  --error-color: #AA214B;
  --dark-error-color: #831938;
}
  