body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  scroll-margin-top: 80px;
}

.success-snackbar {
  background-color: var(--primary-color) !important;
  font-family: 'Raleway', sans-serif !important;
}

.error-snackbar {
  background-color: var(--error-color) !important;
  font-family: 'Raleway', sans-serif !important;
}

.warning-snackbar {
  background-color: #ff9800 !important;
  font-family: 'Raleway', sans-serif !important;
}